

.call-for-abstracts {
    .cfa-announcement {
        color: $light-black;
        padding: 20px 0 10px;
    }

    .actions {
        margin-top: 20px;
    }

    .info-message-box {
        align-items: center;
    }

    .message-text {
        line-height: 1.3em;
        padding-left: 5px;
    }

    .submit-abstract-btn {
        font-weight: bold;
    }

    .cfa-infoline-section {
        .infoline {
            float: none;
        }
    }
}
