
/* Animation utility constructs */
/* To be removed whenever we support a more recent version of Compass */

@import 'compass';


@mixin fossir-animation($name, $duration, $timing-function, $count) {
    animation-name: $name;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;

    animation-duration: $duration;
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;

    animation-timing-function: $timing-function;
    -webkit-animation-timing-function: $timing-function;
    -moz-animation-timing-function: $timing-function;

    animation-iteration-count: $count;
    -webkit-animation-iteration-count: $count;
    -moz-animation-iteration-count: $count;
}


@mixin rotate-transform($delay) {
    @include transition(transform $delay ease-out);
    -webkit-transform-origin: 50% 51%; // improve blurry text on rotate with chrome
}


@keyframes highlight {
    0% {
        background-color: $blue;
    }
    100% {
        background-color: inherit;
    }
}
