

// when changing a color in here don't forget to check palette.js
// whether it is used in there too and update it if necessary.

$darker-blue: #005272;
$dark-blue: #007cac;
$blue: #5d95ea;
$pastel-blue: #cde1ff;
$light-blue: #edf3fd;

$red: #af0000;
$dark-red: #a76766;
$pastel-red: #a76766;
$light-red: #f2dede;

$dark-gray: #999;
$gray: #bbb;
$pastel-gray: #dfdfdf;
$light-gray: #f9f9f9;

$dark-black: #333;
$black: #555;
$light-black: #777;

$dark-green: #67a766;
$green: #6cc644;
$pastel-green: #67a766;
$light-green: #def2de;

$dark-yellow: #9c793b;
$yellow: #e99e18;
$postit-yellow: #ffffa5;
$light-yellow: #ffe6ba;

$orange: #b14300;
$bright-orange: #e25300;

$purple: #6e5494;

$separator-color: #ebebeb;

$link: #0b63a5;
$fossir-blue: #00a4e4;
