

.occurrences-widget {
    .occurrence + .occurrence {
        margin-top: 5px;
    }

    .datepicker {
        width: 40% !important;
    }

    .timepicker {
        width: 26% !important;
    }

    .durationpicker {
        width: 20% !important;
    }

    .timezone {
        @include icon-before('icon-earth');
        color: $light-black;
        position: relative;
        right: 24px;
        top: 2px;
    }

    .duration-info {
        @include icon-before('icon-time');
        color: $light-black;
        position: relative;
        right: 24px;
        top: 2px;
    }

    .remove-occurrence {
        font-size: 1.3em;
        vertical-align: sub;

        &:hover {
            color: $red;
            cursor: pointer;
        }
    }

    .add-occurrence {
        display: inline-block;
        margin-top: 0.25em;
    }
}
