

body {
    background-color: white;
}

.headline {
   color: #006;
   background: transparent;
}

.headerselected {
   color: #fff;
   background: #006;
}

ul.dayList {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 10px;
}

.abstract {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #000000;
    padding: 5px 5px 5px;
}
.headers {
    margin: 0px;
    vertical-align: top;
}
.speakers {
    text-align: right;
    margin: 0px;
    vertical-align: top;
    float: right;
}
a.author:link {
    color: #fff;
}

a.material {
    padding: 2px 8px;
    height: 15px;
    color: #333333;
    float: left;
    border-left: 1px dotted #AAA;
    background-color: #EEEEEE;
}

a.material:hover {
    background-color: #444444;
    color: white;
}

table pre {
    margin: 0;
}

table p {
    margin-top: 0;
}

.event-manage-button {
    margin-top: 10px;
    font-size: 10pt;
}
