

a,
.fake-link,
.ui-widget-content a {
    color: $blue;

    &:hover {
        color: $orange;
        cursor: pointer;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }
}

.i-link {
    @extend %semantic-link;
    @include transition();
    @include transition-property(color);
    cursor: pointer;

    &.disabled {
        cursor: default !important;
    }
}

a.discreet-link {
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

[data-anchor]:hover {
    .anchor-link {
        opacity: 1;
    }
}

.anchor-link {
    @extend %font-family-body;
    @include transition(0.25s opacity ease-out);
    opacity: 0;
    margin-left: 0.5em;
    color: $gray !important;
}
