

 @keyframes step-fade-in-background {
     0% {
         background-color: $pastel-gray;
     }

     100% {
         background-color: $fossir-blue;
     }
 }

 @keyframes step-fade-in-border {
     0% {
         border-color: $pastel-gray;
     }

     100% {
         border-color: $fossir-blue;
     }
 }

ul.steps {
    list-style-type: none;
    padding: 0;
    color: $light-black;

    li {
        flex-grow: 1;
        flex-basis: 0;

        &.completed {
            .circle::before {
                background-color: $fossir-blue;
                border-color: $fossir-blue;
            }

            .text {
                color: $fossir-blue;
            }

            .horizontal-line {
                background-color: $fossir-blue;
            }
        }

        &.current {
            .circle::before {
                border-color: $fossir-blue;
                animation: step-fade-in-border .5s linear;
            }

            .horizontal-line {
                background-color: $fossir-blue;
                animation: step-fade-in-background .5s linear;
            }
        }

        &.before-current {
            .circle::before {
                animation: step-fade-in-background .5s linear;
            }
        }

        &:first-child {
            .horizontal-line {
                @include border-left-radius();
            }
        }

        &:last-child {
            .horizontal-line {
                @include border-right-radius();
            }
        }
    }

    .label {
        @extend %font-family-title-light;
        color: $light-black;
        font-size: 1.1em;
        text-align: center;

        &.top {
            margin-bottom: 20px;
        }

        &.bottom {
            margin-top: 10px;
        }
    }

    .horizontal-line {
        height: 3px;
        background-color: $pastel-gray;
    }

    .circle {
        &::before {
            @include border-all($width: 2px);
            @include border-radius(25px);
            content: '';
            width: 25px;
            height: 25px;
            background-color: white;
            margin-top: -15px;
        }
    }

    .text {
        position: relative;
        font-weight: bold;
        margin-top: 10px;
    }
}
