

.i-tag {
    @extend %semantic-background;
    @include border-radius();
    padding: 0.3em 0.6em;
    font-weight: bold;

    &.outline {
        @extend %semantic-outline;
        background: transparent;
        &.dashed {
            border-style: dashed;
        }
        &.contrast {
            background: white;
        }
    }
}
