

.code {
    @include border-radius();
    border: 1px solid $gray;
    background: $light-gray;
    padding: 1em 1.5em;
}

.merge-info {
    padding: 0;
    margin: 0;
    float: right;
    list-style-type: none;

    span.caption {
        font-weight: bold;
    }
}

.tasks .i-label {
    width: 100%;
}

table.ip-network-group .actions {
    width: 3em;
    text-align: right;
}
